// Mixins Here

.button(){
    display: flex;
    height:30px;
    width:25%;
    padding: 2px;
    border:2px solid black;
    background: @btn-bg-color;
    color: @btn-color;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.6rem;
   }